extends layout

mixin title
  title Small Cloud Backup - Configuration

block content
  .container-fluid
    .jumbotron
      h1 Small Cloud Backup
      p Small Cloud Backup solution is up and running on your Heroku instance.
      p This web application is used to configure the backup settings.
      .alert.alert-danger
        h2 Please make sure that once configuration is complete you #[strong stop] this application.
