doctype html
html
  head
    +title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')    
  body
    .container
      block content
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/handlebars/handlebars.min.js')
    script(src='/jade/runtime.js')
    block bottomJs
