extends layout

mixin title
  title Small Cloud Backup - Source configuration

block content
  .content-fluid#sourcesContainer

block bottomJs
  script(src="/scb-config/source-all.js")
  script#sources(type="text/x-handlebars-template")
    |<div class="row">
    |{{#each objects}}
    | <div id='{{_id}}' class='column col-lg-3'>
    |   <div class="panel panel-default">
    |     <div class="panel-heading"><h3 class="panel-title">{{name}}</h3></div>
    |     <div class="panel-body">
    |       <table class="table">
    |         <tr><td>Type:</td><td>{{type}}</td></tr>
    |         <tr><td>Service:</td><td>{{serviceRef.name}} / {{serviceRef.type}}</td></tr>
    |       </table>
    |     </div>
    |     <div class="panel-footer">
    |       <button class='btn btn-warning btn-xs' id="delService{{_id}}"><span class='glyphicon glyphicon-trash'></span></button>
    |       <button class='btn btn-primary btn-xs' id="editService{{_id}}"><span class='glyphicon glyphicon-edit'></span></button>
    |     </div>
    |   </div>
    | </div>
    |{{/each}}
    |</div>
    |<button class='btn btn-xl' id="addService{{_id}}"><span class='glyphicon glyphicon-plus'></span></button>
